body{
margin:0;
font-family:Arial;
background:#0a0a2a;
color:white;
text-align:center;
overflow-x:hidden;
}

header{
padding:40px;
}

nav a{
margin:10px;
padding:10px 20px;
background:gold;
color:black;
text-decoration:none;
border-radius:10px;
}

.ilha{
width:500px;
margin-top:20px;
}

/* estrelas */

.star{
position:absolute;
background:white;
width:3px;
height:3px;
border-radius:50%;
animation:piscar 2s infinite;
}

@keyframes piscar{
0%{opacity:0}
50%{opacity:1}
100%{opacity:0}
}

/* sininho */

#sininho{
position:fixed;
width:70px;
pointer-events:none;
}

/* pó de fada */

.fada{
position:absolute;
border-radius:50%;
pointer-events:none;
box-shadow:0 0 10px gold;
animation:sumir 1s linear forwards;
}

@keyframes sumir{
0%{opacity:1;transform:scale(1)}
100%{opacity:0;transform:scale(0)}
}

/* cards */

.card{
width:200px;
display:inline-block;
background:#111;
margin:20px;
padding:20px;
border-radius:10px;
cursor:pointer;
}

/* mapa */

.mapa{
width:700px;
}

.local{
position:absolute;
background:gold;
padding:5px 10px;
border-radius:10px;
cursor:pointer;
color:black;
}